* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
}
body {
	font-family: Arial, Helvetica, sans-serif;
}
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 40px;
	box-shadow: 0 0 8px #333;
}
.logo {
	width: 80px;
}
.menu {
	display: flex;
}
.linkMenu {
	text-decoration: none;
	padding: 15px 20px;
	margin: 0 20px;
	border-right: 1px solid #333;
}
.main {
	padding-top: 50px;
	max-width: 1100px;
	display: flex;
	flex-direction: column;
	margin: auto;
	margin-top: 10px;
	align-items: center;
	justify-content: center;
}
.main > h1 {
	margin-bottom: 40px;
}
.main > img {
	width: 60%;
	margin: 40px 0;
}
.footer {
	margin-top: 20px;
	padding: 20px 0;
	box-shadow: 0 0 8px #333;
}
.footer > p {
	text-align: center;
}
.tema {
	position: absolute;
	right: 0;
	top: 200px;
}
.colorTema {
	width: 40px;
	height: 40px;
	border: 1px solid rgb(192, 133, 5);
	cursor: pointer;
	margin: 10px 0px;
	border-radius: 5px;
}

.colorTema:hover{
	border-bottom: 5px solid #D00000;
}

/* Paleta de Colores*/
.dark {
	background-color: #333;
}
.light {
	background-color: #fff;
}
.yellow {
	background-color: #FFBA08;
}
.olive {
	background-color: olivedrab;
}

/* Tema Dark */
.container.dark .main {
	background-color: #333333;
}
.container.dark .linkMenu{
	border-right: 1px solid #fff;
}
.container.dark p,
.container.dark h1,
.container.dark a {
	color: #f4f4f4;
}
.container.dark .header,
.container.dark .footer {
	box-shadow: 0 0 8px gray;
}

/* Tema Yellow  */
.container.yellow .main {
	background-color: #ffb9081f;
}
.container.yellow p,
.container.yellow h1,
.container.yellow a {
	color: #85144B;
}

/* Tema Olive  */
.container.olive .main {
	background-color: olivedrab; /* rgba(128, 128, 0, 0);*/
}
.container.olive p,
.container.olive h1,
.container.olive a {
	color: #fff;
}